@font-face {
    font-family: 'Constantia';
    src: url('Constantia-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {
  background-color: #e8af2c;
  font-family: 'Constancia';
}

#albumCover img{
  margin-left: 5%;
  width: 50%;
  height: 50%;
}
#songs {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  margin-top: -50%;
  margin-left: 55%;
  line-height: 6vw;
  color: black;
  height: 20px;
  font-family: 'Constantia';
  font-weight: bold;
  font-style: normal;
  font-size: 4vw;
  font-weight: bold;
  text-align: left;
}
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

#lowerBox{
  margin-top: 50%;
  width: 100%;
  background-color: #af9d93;
  font-family: 'Constantia';
  font-weight: bold;
  font-style: normal;
  font-size: 2vw;
  font-weight: bold;
}
#lowerBox img{
  right: 5%;
  width: 30%;
  height: 30%;
  margin-top: 2%;
  margin-bottom: 1.5%;
  margin-left: 65%;
}

#bio{
  margin-top: -28%;
  margin-left: 4%;
  color: black;
  font-family: 'Constantia';
  font-weight: bold;
  font-style: normal;
  font-size: 3vw;
  font-weight: bold;
}
